.canvas--container {
    position: relative;
    height: 100%;
    width: 80%;
    @include flex();
    box-sizing: border-box;
    padding: 10px;
}

.canvas--platform {
    @include flex(center, center, column);
    box-shadow: 0 0 30px 0 black;
}

.canvas--row {
    @include flex();
}

.canvas--tile {
    box-sizing: border-box;

    border-top-width:  1px;
    border-top-style:  solid;
    border-top-color:  black;

    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: black;
    &:hover {
        cursor: pointer;
    }
}

.exitNode {
    animation: animateExitNode 1s infinite alternate-reverse ease;
}

@keyframes animateExitNode {
    0% {
        box-shadow: inset 0 0 10px blue;
    }
    100% {
        box-shadow: inset 0 0 15px blue;
    }
}

.iocontainer__container {
    width: 100%;
    position: absolute;
    left: 0;
    height: 100px;
    @include flex(center, center, column);
    transition: all 300ms ease;
    & > *:first-child {
        border-bottom: 1px solid black;
    }
}

.iocontainer__input {
    right: 0;
    height: 50%;
    width: 100%;
    @include flex(center, flex-start, row);
    transition: all 600ms ease;
    box-sizing: border-box;
    padding-left: 10px;
    & input {
        height: 20px;
        width: 80%;
        font-size: 17px;
        border-bottom: 1px solid black;
    }
    & label {
        font-size: 15px;
        font-family: monospace;
        margin-right: 5px;
        font-weight: bold;
    }
}

.iocontainer__output {
    @include flex(center, flex-start);
    height: 50%;
    width: 100%;
    font-size: 15px;
    font-family: monospace;
    font-weight: bold;
    background-color: white;
    box-sizing: border-box;
    padding-left: 10px;
    transition: all 600ms ease;
}

.iocontainer__toggleSwitch {
    position: absolute;
    top: -30px;
    height: 30px;
    width: 30px;
    left: 10px;
    background-color: white;
    @include flex();
    border-radius: 5px 5px 0 0;
    &:hover {
        cursor: pointer;
    }
    & img {
        height: 20px;
        width: auto;
        transition: all 300ms ease;
    }
}